<!DOCTYPE html>
<html>
<head>
  <title>Splurty</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
	<header>

		<div class="col-xs-3">
			<%= link_to root_path, :class => 'logo' do %>
				<div class="circle">
					<br/>
					Your daily
					<br/>
					startup
					<br/>
					quote
				</div>
			<% end %>

		</div>

		<div class="col-xs-4 hidden-xs slogan">
			Inspiring entrepreneurship quotes from Entrepreneur.com
		</div>

		<div class="col-xs-8 col-xs-offset-1 col-sm-offset-0 col-sm-5  links">
			<!-- Button trigger modal -->
			<%= link_to 'Contribute', '#', :data => {:toggle => 'modal',
					 :target => '#myModal'} %>
					 &nbsp;&nbsp;
		
			<%= link_to  'About', about_path %>
		</div>

	</header>

	
	<!--Modal -->
	<%= render "modal" %>

	<hr />

	<br class="clear" />

	<div class="container">
		<% if flash[:error].present? %>
			<div class="col-xs-10 col-xs-offset-1 alert alert-danger">
				<%= flash[:error].html_safe %>
			</div>
		<% end %>
		<br />

		<%= yield %>
		<%= debug(params) if Rails.env.development? %>
	</div>

	<div class="footer">
		<div class="container">
			<div class="col-xs-12 col-sm-6">
				<%= link_to "This isn't enough, I need more", root_path, :class => 'next-quote'%>
			</div>
			<div class="col-xs-12 col-sm-6 footer-blurb">
				Made with love by Mugisha.
			</div>
		</div>
	</div>

	</body>
</html>
